////////////////////////////////////////////////////////////////////////////////
///
// @import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-big) {
    font-size: 56%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-size: $font-size-primary;
  font-family: $font-primary;
  color: $font-color-primary;
  font-weight: $font-weight-primary;

  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(../body.webp);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media only screen and (max-width: $bp-medium) {
    &::before {
      background-image: linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
        url(../body-small.webp);
      background-position: center;
    }
  }
}
