.popup_total {
  @extend %popup-backgruond;

  &__content {
    background-color: $font-color-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // left: 15rem;

    border-radius: 2rem;
    border: #f3f3f3 solid 0.2rem;
    padding: 4rem 4.8rem;
    width: 40rem;

    &__list {
      margin-bottom: 3.6rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      justify-content: center;
      align-items: flex-start;
      margin-left: 1.8rem;

      &--item-value {
        @extend %strong-style;
      }
    }

    &__btn {
      text-align: center;
    }
  }
}
