@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Luckiest+Guy&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// FONT VARIABLES
$font-primary: "Rubik", sans-serif;
$font-size-primary: 2.4rem;
$font-weight-primary: 500;
$letter-spacing: 1px;
$font-strong: 700;

// COLLORS
$font-color-primary: #f3f3f3;
$font-color-primary-dark: #929292;
$font-color-secondary: #292524;
$color-black: #000;
$color-white: #fff;
$color-blue: #a5d8ff;

///Querias/Breakpoints
$bp-big: 69em; //1200px
$bp-medium: 62em; //992px
$bp-small: 42em; //672px
$bp-smaller: 31em; //400px
$bp-smallest: 27em; //432px
$bp-last_smallest: 23em; //368px
