@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Luckiest+Guy&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// FONT VARIABLES
$font-primary: "Rubik", sans-serif;
$font-size-primary: 2.4rem;
$font-weight-primary: 500;
$letter-spacing: 1px;
$font-strong: 700;

// COLLORS
$font-color-primary: #f3f3f3;
$font-color-primary-dark: #929292;
$font-color-secondary: #292524;
$color-black: #000;
$color-white: #fff;
$color-blue: #a5d8ff;

//Animation
@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveOutButton {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(3rem);
  }
}

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

////////////////////////////////////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-primary;
  font-family: $font-primary;
  color: $font-color-primary;
  font-weight: $font-weight-primary;
  // background-color: $background-color-primary;

  // position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgb(34, 34, 34, 0.6)),
    url(body.webp);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  background-attachment: fixed;

  &::after {
    content: "";
    display: block;
    height: 100%;
    background-image: url(body.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }
}

///////////////////////////////////////////////////////////////////////
%common-input-styles {
  // background-color: $background-color-primary;
  color: $font-color-secondary;
  border: none;
  border-radius: 10rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
}

////////////////////////////////////////////////////////////////////////

@mixin input_item($time-animation, $button-gap, $padding-bottom, $margin) {
  // text-align: center; //small-scr
  // padding: 3.6rem 0;   //small-scr
  // padding-bottom: 1.2rem;
  padding-bottom: $padding-bottom;

  display: flex; //big-scr
  justify-content: center; //big-scr
  align-items: center; //big-scr
  gap: 1.8rem; //big-scr

  & input,
  & select {
    @extend %common-input-styles;
    opacity: 1;
    animation: showUp $time-animation backwards;
  }

  &__food {
    width: 46rem;
    height: 4.8rem; //big-scr
  }

  &__container {
    // margin: 2.2rem 0;
    margin: $margin;
    display: flex; //small-scr
    // justify-content: center; //small-scr
    // align-items: center; //small-scr
    gap: 1.8rem; //small-scr

    &--quantity {
      width: 12rem;
      height: 4.8rem; //big-scr
    }

    &--unit {
      width: 10rem;
      height: 4.8rem; //big-scr
    }
    // &--who {
    //   width: 20rem;
    // }

    /* Zwiększ odstęp między dwoma ostatnimi elementami */
    & > :nth-last-child(#{$button-gap}) {
      margin-right: 5.8rem; /* lub dowolna wartość, którą chcesz użyć */
    }

    //
    &--label {
      // Visually hidden label for accessibility
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}

@mixin items-list($name-items, $name-list, $ul_margin-button) {
  .#{$name-items} {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    // gap: 2.4rem; //small-scr

    &__#{$name-list} {
      // width: 30%; //small-scr
      width: 92rem;
      // overflow: scroll;
      // overflow-y: auto;
      // overflow-x: hidden;
      // flex: 1;
      // max-height: 24vh;
      margin-bottom: 0.8rem;
    }

    & ul {
      list-style: none;
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(90rem, 1fr)); //small-scr
      grid-template-columns: repeat(auto-fit, minmax(62rem, 1fr));
      gap: 1.8rem;
      justify-content: center;
      // align-content: space-around;
      align-items: center;
      margin-left: 1rem;
      margin-bottom: $ul_margin-button;

      & li {
        & span {
          cursor: pointer;
        }
      }
    }

    &__action {
      display: flex;
      justify-content: center;
      gap: 1.8rem;
      margin-bottom: 4.2rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////
.button {
  @extend %common-input-styles;
  opacity: 1;
  animation: moveInBotton 0.5s backwards ease-in-out 1s;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-blue;
  // color: $font-color-primary;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.button--loading {
  opacity: 0.5 !important;
  pointer-events: none;
}

.animated {
  animation: showUp 0.3s ease-in-out;
}
.long-animated {
  animation: showUp 1s ease-in-out;
}

.move-out {
  animation: moveOutButton 0.3s ease-in-out;
}
.move-in {
  animation: moveInBotton 0.5s backwards ease-in-out;
}

.button-delayed {
  animation: moveInBotton 0.5s backwards ease-in-out 1s;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  position: relative;
}

///////////////////////////////////////////////////////////////

.headline {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  font-style: italic;
  text-align: center;
  gap: 2.4rem;
  padding: 2rem 1.2rem;
  animation: moveInDown 1s ease-in-out;
}

/////////////////////////////////////////////////////

.add_item {
  @include input_item(2s, 2, 1.2rem, 2.2rem 0);
}

///////////////////////////////////////////////////////////////
///food-items
@include items-list("food-items", "food-list", 0);

///////////////////////////////////////////////////////////////

.food-item {
  color: $font-color-primary;
  transition: all 0.3s;
  &.selected {
    color: $font-color-primary;
  }
  .has-selected-item & {
    &:not(.selected) {
      color: $font-color-primary-dark;
    }
  }

  &__number {
    margin-right: 0.3rem;
  }

  &__quantity,
  &__unit {
    font-weight: $font-strong;
    font-style: italic;
  }
  &__btn {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    gap: 1.8rem;

    &--action {
      color: $font-color-secondary;
      background-color: $color-blue;
      border: none;
      border-radius: 10rem;
      font-family: inherit;
      cursor: pointer;
      font-weight: 700;
      padding: 0.4rem 1.4rem;
      font-size: 1.6rem;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      animation: showUp 0.16s backwards ease-in-out;
      transition: all 0.3s;
      &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}
/////////////////////////////////////////////////////
///kcal-items
@include items-list("kcal-items", "kcal-list", 1.8rem);
.kcal-items__kcal-list--list:last-child {
  margin-bottom: -1.8rem;
}

/////////////////////////////////////////////////////
//kcal-item

.kcal-item {
  color: $font-color-primary;
  transition: all 0.3s;
  &.selected {
    color: $font-color-primary;
  }
  .has-selected-item & {
    &:not(.selected) {
      color: $font-color-primary-dark;
    }
  }

  &__food {
    font-weight: $font-strong;
    font-style: italic;
  }

  &__btn {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    gap: 1.8rem;

    &--action {
      color: $font-color-secondary;
      background-color: $color-blue;
      border: none;
      border-radius: 10rem;
      font-family: inherit;
      cursor: pointer;
      font-weight: 700;
      padding: 0.4rem 1.4rem;
      font-size: 1.6rem;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      animation: showUp 0.16s backwards ease-in-out;
      transition: all 0.3s;
      &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}

/////////////////////////////////////////////////////

.popup {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: showUp 0.3s ease-in-out;

  &__content {
    background-color: $font-color-secondary;
    position: absolute;
    transform: translateY(-50%);
    // left: 15rem;

    border-radius: 10rem;
    border: #f3f3f3 solid 0.2rem;
    padding: 0.4rem;
    &--edit_item {
      @include input_item(none, 3, 0, 0);
    }
  }
}

////////////////////////////////////////////////////////////////////////
.spinner {
  display: flex;
  margin: -1.2rem auto;
  text-align: center;

  svg {
    height: 2rem;
    width: 6.037rem;
    fill: $font-color-secondary;
    animation: rotate 2s infinite linear;
  }
}

///////////////////////////////////////////////////

.copyright {
  animation: showUp 1s ease-in-out;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  font-weight: 700;
  flex: 1;
}
